.section-about{
    padding: 25rem 0;
    background-color: $color-grey-light-1;
    margin-top : -30vh;

    @include respond(tab) {
        padding: 30rem 0;
        margin-top : -30vh;
    }
    @include respond(tab) {
        padding: 30rem 0;
        margin-top : -25vh;
    }
}

.section-features {
    background-image : linear-gradient(to right bottom, rgba($color-primary-light,.7), rgba($color-primary-dark,.7)), url(../../../../css/travel/img/nat-4.jpg);
    padding: 20rem 0;
    transform: skewY(-7deg);
    margin-top: -25vh;
    background-size: cover;
    & > * {
        transform: skewY( 7deg);
    }

    @include respond(tab) {
        padding: 10rem 0;
    }
   

}

.section-tours {
    padding: 25rem 0 60rem 0;
    background-color: $color-grey-light-1;

    margin-top: -15vh;

    @include respond(tab) {
        padding: 20rem 0 10rem 0;
    }

}
  
 

.section-story {
    padding: 25rem 0 19rem 0;
    margin-top: -25vh;
    position: relative;
    @include respond(tab) {
        padding: 10rem 0;
        margin-top: -7vh;
    }
    @include respond(phone) {
        padding: 10rem 0;
        margin-top: -4vh;
    }

  
}

.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,1), rgba($color-primary-dark,1));
    margin: -16px 0 0 0 ;
    @include respond(tab) {
        padding: 10rem 0;
        
    }

}

.booking {
    background-image:linear-gradient(105deg, rgba($color-white,.7) 10%, rgba($color-white,.8) 50%, transparent 50%) ,url(../../../../css/travel/img/nat-10.jpg);
    background-size: cover;
   
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-dark,.2);

    @include respond(laptop) {
        background-image: linear-gradient(105deg, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 65%,
        transparent 65%) ,
        url(../../../../css/travel/img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab) {
        background-image: linear-gradient(to right, 
        rgba($color-white, .9) 0%,
        rgba($color-white, .9) 100%),
        url(../../../../css/travel/img/nat-10.jpg);
        margin-left: -6rem;
        width: 130%;
        
        
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include respond(laptop) {
            width: 65%;
        }

        @include respond(tab) {
            width: 100%;
        }
    }

}